.container {
    display: flex;
    margin:70px 0 0;
}
body {
    background-color: grey;
}
.sportsList {
    width: 20%;
    margin-right: 1%;
    margin-left: 0%;
}
.competitions {
    width: 80%;
    text-align: center;
}
.listHead {
    background-color: yellow;
    color: #dc3545;
    text-align: center;
    font-weight: bold;
}

.virtualTicket {
    box-sizing: border-box;
    margin: 60px 0%;
    position: fixed;
    top: 0;
    right: 10px;
    width: 375px;
    max-height: 85%;
    overflow: auto;
}
.virtualTicket td {
    padding-right: 2px;
    padding-left: 2px;
}
.virtualTicket button {
    color: #dc3545;
    background-color: yellow;
    border-width: 1px;
    border-color: black;
    border-radius: 0.25rem;
}
.virtualTicket button:hover {
    color: #dc3545;
    background-color: rgb(255, 238, 0);
    border-width: 1px;
    border-color: black;
    border-radius: 0.25rem;
}
input {
    width: 150px;
    margin-right: 5px;
}
table {
    background-color: #fff;
    margin-top: 10px;
}
.oddsButton {
    height: 30px;
    width: 50px;
    background-color: transparent;
    border: none;
    color: #dc3545;
    font-weight: bold;
}
.oddsButton:hover {
    border: 1px solid black;
    border-radius: 0.25rem;
    background-color: rgb(255, 238, 0);
}
#event{
    width: 65%;
}
#result{
    width: 5%;
}
#odds{
    width: 15%;
}
td.ticketFooter {
    padding-left: 15px;
    text-align: start;
}