.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}
a {
    color: yellow;
}
a:hover {
    color: white;
    text-decoration: none;
}
.userName {
    color:yellow;
    margin: 5px 10px;
}